:root {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 500; /* slightly bolder by default */
  color: #f9fafb;
  background-color: #050608;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050608;
}

#root {
  min-height: 100vh;
}
